@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

::-webkit-scrollbar {
  border-radius: 20px;
  width: 7px;
}

a {
  color: #3365ca;
  text-decoration: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #d3e0f8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7c8e9;
}
